

body {
    background-color: beige;
}
.container-form {
    width: 60%;
    margin: 0px auto;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.titulo-form {
    background-color: grey;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
}
